 body { 
            font-family: sans-serif; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
            background: #010101; 
            color: #e0e0e0; 
        }
        .box {
            width:90vw;
            background: #000000; 
        }

        input { 
            width: 90vw; 
            padding: 16px; 
            background: #000000; 
            border: 1px solid #000000; 
            color: rgb(255 255 255); 
            border-radius: 12px; 
            box-sizing: border-box; 
            border: 1px solid #ffffff;
        }

        button { 
            width: 90vw; 
            padding: 16px; 
            margin-top: 12px;
            background: #242424; 
            color: rgb(255 255 255); 
            border: 1px solid #3498db;
            border-color:#ffffff;
            border-radius: 12px; 
            cursor: pointer; 
            font-size: 16px; 
        box-shadow: inset 6px 6px 12px rgb(255 255 255 / 5%),
        inset -3px -3px 12px rgb(255 255 255 / 5%);
        }
        button:hover { 
            background: #cccccc; 
        }
        .status { 
            margin-top: 15px; 
            font-size: 14px; 
            color: #ffffff; 
        }
        .success { 
            color: #ffffff; 
            font-weight: bold; 
        }