body{
  background-color: whitesmoke;
}

.placeholdertext {
display: flex; /* Делаем блок flex-контейнером */
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
  height: 100vh; /* Задаем высоту на весь экран */
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2rem, 4vw, 6rem);
  white-space: nowrap;
}